# Directories & Files
.idea
.vscode

node_modules
.next
.vercel
*.njsproj
*.ntvs*
*.pem
*.sln
*.suo
*.sw?
.pnp
.pnp.*
*.tsbuildinfo

# Security
.env.local
.env.production
.env.prisma

# Misc
Thumbs.db
.DS_Store

# Logs & Cache
logs
*.log
.npm
.eslintcache
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*