:root {
    --palette-primary: #ff6647;
    --palette-primary-rgb: 255, 102, 71;
    --palette-primary-darken-1: #ff512e;
    --palette-primary-darken-1-rgb: 255, 80.7962, 45.5;
    --palette-primary-darken-2: #ff3c14;
    --palette-primary-darken-2-rgb: 255, 59.59239, 20;
    --palette-primary-darken-3: #fa2a00;
    --palette-primary-darken-3-rgb: 249.5, 42.03533, 0;
    --palette-primary-darken-4: #e02600;
    --palette-primary-darken-4-rgb: 224, 37.73913, 0;
    --palette-primary-darken-5: #c72100;
    --palette-primary-darken-5-rgb: 198.5, 33.44293, 0;
    --palette-primary-darken-6: #ad1d00;
    --palette-primary-darken-6-rgb: 173, 29.14674, 0;
    --palette-primary-darken-7: #941900;
    --palette-primary-darken-7-rgb: 147.5, 24.85054, 0;
    --palette-primary-darken-8: #7a1500;
    --palette-primary-darken-8-rgb: 122, 20.55435, 0;
    --palette-primary-lighten-1: #ff7b61;
    --palette-primary-lighten-1-rgb: 255, 123.2038, 96.5;
    --palette-primary-lighten-2: #ff907a;
    --palette-primary-lighten-2-rgb: 255, 144.40761, 122;
    --palette-primary-lighten-3: #ffa694;
    --palette-primary-lighten-3-rgb: 255, 165.61141, 147.5;
    --palette-primary-lighten-4: #ffbbad;
    --palette-primary-lighten-4-rgb: 255, 186.81522, 173;
    --palette-primary-lighten-5: #ffd0c7;
    --palette-primary-lighten-5-rgb: 255, 208.01902, 198.5;
    --palette-primary-lighten-6: #ffe5e0;
    --palette-primary-lighten-6-rgb: 255, 229.22283, 224;
    --palette-primary-lighten-7: snow;
    --palette-primary-lighten-7-rgb: 255, 250.42663, 249.5;
    --palette-primary-lighten-8: #fff;
    --palette-primary-lighten-8-rgb: 255, 255, 255;
    --palette-secondary: #d6008f;
    --palette-secondary-rgb: 214, 0, 143;
    --palette-secondary-darken-1: #bd007e;
    --palette-secondary-darken-1-rgb: 188.5, 0, 125.96028;
    --palette-secondary-darken-2: #a3006d;
    --palette-secondary-darken-2-rgb: 163, 0, 108.92056;
    --palette-secondary-darken-3: #8a005c;
    --palette-secondary-darken-3-rgb: 137.5, 0, 91.88084;
    --palette-secondary-darken-4: #70004b;
    --palette-secondary-darken-4-rgb: 112, 0, 74.84112;
    --palette-secondary-darken-5: #57003a;
    --palette-secondary-darken-5-rgb: 86.5, 0, 57.8014;
    --palette-secondary-darken-6: #3d0029;
    --palette-secondary-darken-6-rgb: 61, 0, 40.76168;
    --palette-secondary-darken-7: #240018;
    --palette-secondary-darken-7-rgb: 35.5, 0, 23.72196;
    --palette-secondary-darken-8: #0a0007;
    --palette-secondary-darken-8-rgb: 10, 0, 6.68224;
    --palette-secondary-lighten-1: #f000a0;
    --palette-secondary-lighten-1-rgb: 239.5, 0, 160.03972;
    --palette-secondary-lighten-2: #ff0aae;
    --palette-secondary-lighten-2-rgb: 255, 10, 173.71495;
    --palette-secondary-lighten-3: #ff24b6;
    --palette-secondary-lighten-3-rgb: 255, 35.5, 182.17523;
    --palette-secondary-lighten-4: #ff3dbf;
    --palette-secondary-lighten-4-rgb: 255, 61, 190.63551;
    --palette-secondary-lighten-5: #ff57c7;
    --palette-secondary-lighten-5-rgb: 255, 86.5, 199.09579;
    --palette-secondary-lighten-6: #ff70d0;
    --palette-secondary-lighten-6-rgb: 255, 112, 207.55607;
    --palette-secondary-lighten-7: #ff8ad8;
    --palette-secondary-lighten-7-rgb: 255, 137.5, 216.01636;
    --palette-secondary-lighten-8: #ffa3e0;
    --palette-secondary-lighten-8-rgb: 255, 163, 224.47664;
    --palette-positive: #00a775;
    --palette-positive-rgb: 0, 167, 117;
    --palette-positive-darken-1: #008e63;
    --palette-positive-darken-1-rgb: 0, 141.5, 99.13473;
    --palette-positive-darken-2: #007451;
    --palette-positive-darken-2-rgb: 0, 116, 81.26946;
    --palette-positive-darken-3: #005b3f;
    --palette-positive-darken-3-rgb: 0, 90.5, 63.40419;
    --palette-positive-darken-4: #00412e;
    --palette-positive-darken-4-rgb: 0, 65, 45.53892;
    --palette-positive-darken-5: #00281c;
    --palette-positive-darken-5-rgb: 0, 39.5, 27.67365;
    --palette-positive-darken-6: #000e0a;
    --palette-positive-darken-6-rgb: 0, 14, 9.80838;
    --palette-positive-darken-7: #000;
    --palette-positive-darken-7-rgb: 0, 0, 0;
    --palette-positive-darken-8: #000;
    --palette-positive-darken-8-rgb: 0, 0, 0;
    --palette-positive-lighten-1: #00c187;
    --palette-positive-lighten-1-rgb: 0, 192.5, 134.86527;
    --palette-positive-lighten-2: #00da99;
    --palette-positive-lighten-2-rgb: 0, 218, 152.73054;
    --palette-positive-lighten-3: #00f4ab;
    --palette-positive-lighten-3-rgb: 0, 243.5, 170.59581;
    --palette-positive-lighten-4: #0effb7;
    --palette-positive-lighten-4-rgb: 14, 255, 182.84431;
    --palette-positive-lighten-5: #28ffbe;
    --palette-positive-lighten-5-rgb: 39.5, 255, 190.47904;
    --palette-positive-lighten-6: #41ffc6;
    --palette-positive-lighten-6-rgb: 65, 255, 198.11377;
    --palette-positive-lighten-7: #5bffce;
    --palette-positive-lighten-7-rgb: 90.5, 255, 205.7485;
    --palette-positive-lighten-8: #74ffd5;
    --palette-positive-lighten-8-rgb: 116, 255, 213.38323;
    --palette-negative: #ff112e;
    --palette-negative-rgb: 255, 17, 46;
    --palette-negative-darken-1: #f7001e;
    --palette-negative-darken-1-rgb: 246.5, 0, 30.03571;
    --palette-negative-darken-2: #dd001b;
    --palette-negative-darken-2-rgb: 221, 0, 26.92857;
    --palette-negative-darken-3: #c40018;
    --palette-negative-darken-3-rgb: 195.5, 0, 23.82143;
    --palette-negative-darken-4: #aa0015;
    --palette-negative-darken-4-rgb: 170, 0, 20.71429;
    --palette-negative-darken-5: #910012;
    --palette-negative-darken-5-rgb: 144.5, 0, 17.60714;
    --palette-negative-darken-6: #77000f;
    --palette-negative-darken-6-rgb: 119, 0, 14.5;
    --palette-negative-darken-7: #5e000b;
    --palette-negative-darken-7-rgb: 93.5, 0, 11.39286;
    --palette-negative-darken-8: #440008;
    --palette-negative-darken-8-rgb: 68, 0, 8.28571;
    --palette-negative-lighten-1: #ff2b44;
    --palette-negative-lighten-1-rgb: 255, 42.5, 68.39286;
    --palette-negative-lighten-2: #ff445b;
    --palette-negative-lighten-2-rgb: 255, 68, 90.78571;
    --palette-negative-lighten-3: #ff5e71;
    --palette-negative-lighten-3-rgb: 255, 93.5, 113.17857;
    --palette-negative-lighten-4: #f78;
    --palette-negative-lighten-4-rgb: 255, 119, 135.57143;
    --palette-negative-lighten-5: #ff919e;
    --palette-negative-lighten-5-rgb: 255, 144.5, 157.96429;
    --palette-negative-lighten-6: #ffaab4;
    --palette-negative-lighten-6-rgb: 255, 170, 180.35714;
    --palette-negative-lighten-7: #ffc4cb;
    --palette-negative-lighten-7-rgb: 255, 195.5, 202.75;
    --palette-negative-lighten-8: #ffdde1;
    --palette-negative-lighten-8-rgb: 255, 221, 225.14286;
    --palette-gray: #98999a;
    --palette-gray-rgb: 152, 153, 154;
    --palette-gray-darken-1: #8b8c8d;
    --palette-gray-darken-1-rgb: 139.125, 140.25, 141.375;
    --palette-gray-darken-2: #7e8081;
    --palette-gray-darken-2-rgb: 126.25, 127.5, 128.75;
    --palette-gray-darken-3: #727374;
    --palette-gray-darken-3-rgb: 113.625, 114.75, 115.875;
    --palette-gray-darken-4: #656667;
    --palette-gray-darken-4-rgb: 101, 102, 103;
    --palette-gray-darken-5: #58595a;
    --palette-gray-darken-5-rgb: 88.375, 89.25, 90.125;
    --palette-gray-darken-6: #4c4d4d;
    --palette-gray-darken-6-rgb: 75.75, 76.5, 77.25;
    --palette-gray-darken-7: #3f4040;
    --palette-gray-darken-7-rgb: 63.125, 63.75, 64.375;
    --palette-gray-darken-8: #333334;
    --palette-gray-darken-8-rgb: 50.5, 51, 51.5;
    --palette-gray-lighten-1: #a5a6a7;
    --palette-gray-lighten-1-rgb: 164.875, 165.75, 166.625;
    --palette-gray-lighten-2: #b2b3b3;
    --palette-gray-lighten-2-rgb: 177.75, 178.5, 179.25;
    --palette-gray-lighten-3: #bfbfc0;
    --palette-gray-lighten-3-rgb: 190.625, 191.25, 191.875;
    --palette-gray-lighten-4: #cccccd;
    --palette-gray-lighten-4-rgb: 203.5, 204, 204.5;
    --palette-gray-lighten-5: #d8d9d9;
    --palette-gray-lighten-5-rgb: 216.375, 216.75, 217.125;
    --palette-gray-lighten-6: #e5e6e6;
    --palette-gray-lighten-6-rgb: 229.25, 229.5, 229.75;
    --palette-gray-lighten-7: #f2f2f2;
    --palette-gray-lighten-7-rgb: 242.125, 242.25, 242.375;
    --palette-gray-lighten-8: #fff;
    --palette-gray-lighten-8-rgb: 255, 255, 255;
    --palette-bg: #fff;
    --palette-bg-rgb: 255, 255, 255;
    --palette-fg: #000;
    --palette-fg-rgb: 0, 0, 0;
    --palette-twitter: #1da1f2;
    --palette-facebook: #1877f2;
    --gradient-90deg: linear-gradient(90deg, var(--palette-primary) 0%, var(--palette-secondary) 100%)
}